<div id="<%= dom_id user %>">
 <%= image_tag url_for(user.profile_img), class: "profile-img" ,
            alt: "#{user.username}'s profile photo " %>
<b><p>
@ <%= @user.username %>
</b></p>

  <p>

    <%= @user.bio %>
  </p>

</div>
