<style>

  
  .center-form {
    display: flex;
    justify-content: center;
   
    height: 100vh;
  }
  

  .new-form {
    width: 200px;
    height: 200px;
    border-color: black;
    border: 5px;
    
  }

</style>


<div class="center-form">

<div class="new-form">
<h3>New user</h3>


<%= render "form", user: @user %>

</div>
</div>
