<ul class="list-group">
  <li class="border-0 fs-4"> <span class="material-symbols-outlined tree p-3 mb-1">
nature
</span>Oak_Tree</li>
  <li></li>
    <%= link_to root_path	do %><li class="list-group-item border-0 fs-4"><i class="fa-solid fa-house p-3 "></i>Home</li></a>
    <% end %>
    <a href="#"><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-solid fa-hashtag p-3"></i>Explore</li> </a>
    <a href="#"><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-regular fa-bell p-3"></i>Notifications</li></a>
    <a href="#"><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-solid fa-message p-3"></i>Messages</li></a>
    <a href="#"><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-solid fa-user-secret p-3"></i>Profile</li></a>
    <a href="#" class="rounded-lg"><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-solid fa-ellipsis p-3"></i>More</li></a>
    <li></li>
    <%= link_to new_acorn_path do %>
    <li><button type="button" class="border-0 fs-4 extra-round button-style wide">Acorn</button></li>
    <% end %>
  </ul>

