<div class="sidebar-text">
  <ul class="list-group">
    <li class="list-group-item"><i class="fa-solid fa-house border-0 p-3"></i><a href="#">Home</a></li>
    <li class="list-group-item"><i class="fa-solid fa-hashtag p-3"></i><a href="#">Explore</a></li>
    <li class="list-group-item"><i class="fa-regular fa-bell p-3"></i><a href="#">Notifications</a></li>
    <li class="list-group-item"><i class="fa-solid fa-message p-3"></i><a href="#">Messages</a></li>
    <li class="list-group-item"><i class="fa-solid fa-user-secret p-3"></i><a href="#">Profile</a></li>
    <li class="list-group-item"><i class="fa-solid fa-ellipsis p-3"></i><a href="#">More</a></li>
    
  </ul>
</div>


