





<h1>Acorns</h1>
<ul>
  <% @acorns.each do |acorn| %>
  <hr>
    <div class="user-info">
    <%= image_tag url_for(acorn.user.profile_img), class: 'img img-thumbnail rounded-circle profile-img', alt: "#{acorn.user.username}'s profile photo " %><h2><%= acorn.user.username %></h2>
    </div>
    <p><%= acorn.content %></p>
  <% end %>
</ul>
