.profile-img {
    width: 80px;
    height: 80px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info h2 {
    margin: 0;
  }
  
  .user-info i{
    margin-left: .4em;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .left-col,
  .right-col {
    width: 15%;
  }
  
  .middle-col {
    flex: 1;
    margin: 0 16px;
  }
  
  .left-col {
    order: 1;
  }
  
  .middle-col {
    order: 2;
  }
  
  .right-col {
    order: 3;
  }
  
  
  