<div id="<%= dom_id acorn_hashtag %>">
  <p>
    <strong>Acorn:</strong>
    <%= acorn_hashtag.acorn_id %>
  </p>

  <p>
    <strong>Hastag:</strong>
    <%= acorn_hashtag.hastag_id %>
  </p>

</div>
