<h1>Editing acorn hashtag</h1>

<%= render "form", acorn_hashtag: @acorn_hashtag %>

<br>

<div>
  <%= link_to "Show this acorn hashtag", @acorn_hashtag %> |
  <%= link_to "Back to acorn hashtags", acorn_hashtags_path %>
</div>
